* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.clr-gray {
  color: #918e9b;
}

.bold {
  font-weight: 600;
}

/* header */

.nav {
  display: flex;
  height: 70px;
  padding: 22px 30px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

/* hero */
.hero {
  display: flex;
  flex-direction: column;
}

.hero--img {
  width: 350px;
  align-self: center;
  margin-bottom: 30px;
}

.hero--info {
  padding: 0 30px;
  margin-bottom: 50px;
}

.hero--title {
  font-size: 2.25rem;
  font-weight: 600;
  margin-bottom: 15px;
}

.hero--text {
  max-width: 320px;
  color: #222222;
  font-weight: 300;
}

@media screen and (min-width: 500px) {
  .hero--info {
    align-self: center;
  }
}

/* cards */

.cards {
  display: flex;
  gap: 18px;
  overflow: scroll;
  padding: 0 30px;
  margin-bottom: 50px;
}

.card {
  flex: 0 0 auto;
  width: 176px;
  font-size: 0.75rem;
  color: #222;
}

.card--img {
  width: 100%;
  border-radius: 9px;
  margin-bottom: 3px;
}

.card--stats {
  display: flex;
  gap: 2px;
  margin-bottom: 5px;
}

.card--icon {
  width: 15px;
  height: 15px;
}

.card--title {
  margin-bottom: 5px;
  white-space: nowrap;
}

.card--price {
  margin-bottom: 20px;
}

@media screen and (min-width: 500px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    justify-content: center;
    justify-items: center;
    align-items: center;
  }

  .hero--img {
    width: 450px;
  }
}

@media screen and (min-width: 700px) {
  .cards {
    grid-template-columns: repeat(3, 200px);
  }

  .hero--img {
    width: 500px;
  }
}
